<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.whererunow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/intro"
        android:label="우리지금만나"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHbty7joHi4GHLWlG5JC97KQFoc0TdO-A"/>

        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".JoinActivity"></activity>
        <activity android:name=".MainActivity"></activity>
       <activity android:name=".PromiseDetail"></activity>
       <activity android:name=".Appointment_add"></activity>
        <activity android:name="Schedule_add"></activity>

    </application>

</manifest>